<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<localRepository>D:/repo</localRepository>
 <servers>
    <server>
      <username>maven-deployer</username>
      <password>s3cret</password>
      <id>TomcatServer</id>
    </server>
	<server>
      <username>ipru23846</username>
      <password>Apr@2019</password>
      <id>iprurepo</id>
    </server>
	<server>
      <username>ipru23846</username>
      <password>Apr@2019</password>
      <id>central</id>
    </server>
	<server>
      <username>ipru23846</username>
      <password>Apr@2019</password>
      <id>snapshots</id>
    </server>
  </servers> 
  <profiles>
    <profile>
      <repositories>
	  <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>Maven_Remote1</name>
          <url>http://10.16.13.113:8081/artifactory/Maven_Remote1</url>
        </repository>
	    <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>iprurepo</id>
          <name>libs-release</name>
          <url>http://10.16.13.113:8081/artifactory/libs-release</url>
        </repository>
         <repository>
          <snapshots />
          <id>snapshots</id>
          <name>Maven_Remote1</name>
          <url>http://10.16.13.113:8081/artifactory/Maven_Remote1</url>
        </repository>
		</repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>Maven_Remote1</name>
          <url>http://10.16.13.113:8081/artifactory/Maven_Remote1</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>Maven_Remote1</name>
          <url>http://10.16.13.113:8081/artifactory/Maven_Remote1</url>
        </pluginRepository>
      </pluginRepositories> 
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
